:root {
  --dark-orange: #ff7f00;
  --middle-orage: #ffbb00;
  --light-orage: #fff2e4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

/* LAYOUT */
.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 620px;

  padding-right: 10px;
  padding-left: 10px;
}

/* FLEX */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-middle {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* UTILS */
.cursor {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.shadow-1 {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

/* SPACE */
.pa-8 {
  padding: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.py-8 {
  padding: 8px 0px;
}

.px-8 {
  padding: 0px 8px;
}

.my-8 {
  margin: 8px 0px;
}

.mx-8 {
  margin: 0px 8px;
}

/* TEXT */
.font-thin {
  font-weight: 300;
}

.font-strong {
  font-weight: 600;
}
